.footer {
    background-color: #686868;
    padding: 30px;
    color: white;
    text-align: center;
  }
  .footer-title {
    font-weight: bold;
    margin-top: 50px;
  }
  .footer-link {
    color: lightskyblue;
  }
  