.subtitle {
    line-height: 1.5;
}
.note {
    font-weight: 500;
}
.coffee-cards {
    margin-bottom: 30px;
}
.coffee-card {
    margin-bottom: 30px;
}
.coffee-card:last-of-type {
    margin-bottom: 0;
}
.coffee-card-heading {
    background-color: #f8f8f8;
    padding: 15px;  
}
.coffee-card-img {
    width: 100%;
}
.coffee-card-description-container {
    background-color: #F8F9F9 ;
    padding: 15px;
    margin: 0; 
}
.coffee-card-description-italic {
    font-style: italic;
}
.coffee-card-description {
    line-height: 1.5;
}

@media (min-width: 576px) {
.coffee-cards-gutter-vertical {
    width: 6%;
}
.coffee-cards-gutter-horizontal {
    width: 100%;  
    padding-top: 6%; /* when padding-bottom or top are in percentage, this is calculated form the width of the container. */
}
.coffee-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.coffee-card {
    flex: 1 1 calc(50% - 6%);
    margin-bottom: 0; /*margin-bottom is more specific than margin. So margin will not override margin-bottom. So use margin-bottom instead of margin*/
}
}