.footer {
    background-color: #686868;
    padding: 50px;
    color: white;
    text-align: center;
}
.footer-item {
    list-style-type: none;
    padding: 0.5rem;
    display: inline;
}
.footer-title {
    font-weight: bold;
    margin-top: 50px;
}
.footer-link {
    color: #007fff;
} 