html {  box-sizing: border-box;}*, *:before, *:after {  box-sizing: inherit;}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.main {
    padding-left: 20px;  
    padding-right: 20px;
}

@media (min-width: 576px){
    .main {
        display: flex;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        flex-flow: column nowrap;
    }
}